@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
@tailwind utilities;

:root {
  /* Colors */
  --primary-bg: #0A1730;
  /* Dropdown background (dark card background): bg-[var(--card-bg)] */
  --card-bg: #111C36; 
  /* Border color → border border-[var(--accent)]); bg-[var(--accent)]*/
  --accent: #F4A62A;
  /* Hover border color →hover:border-[var(--accent-hover)] */
  --accent-hover: #d98900;
  --link-hover: #1E90FF;
  /* color text */
  --text-primary: #FFFFFF;
  --text-secondary: #B0B8C6;

  /* Fonts */
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
}

/* Apply fonts globally */
body {
  font-family: var(--font-body);
  background-color: var(--primary-bg);
  color: var(--text-primary);
}

h1, h2, h3 {
  font-family: var(--font-heading);
}
.bg{
    background: #1c2027;
}
.primary-text {
  color: var(--text-primary);
}

.secondary-text {
  color: var(--text-secondary);
}
